# 평가 문제

- 각 문제를 읽고 답안지에 
  + 선택형 문제는 해답의 번호를 쓰시오.
  + 코드를 작성하는 문제는 직접 코드를 쓰시요.
  
- 답안지는 별도로 MS 워드 방식의 화일을 메일로 배포하며 답안을 기입한 후 제출하시면 됩니다.

- 총문제는 14 문제이며 총점은 100점입니다.


아래는 필요한 라이브러리를 불러오는 코드셀입니다. 반드시 평가를 시작할 때 먼저 실행시키고 문제에서 적절하게 이용하세요.

In [2]:
import math
import numpy as np
import pandas as pd

## 1. 표현식

**문제 1** [5점]

다음 중 오류가 나는 표현식을 선택하세요. 

1.  `"A" + "B"`
2.  `1 + "2"` 
3.  `1 + 0.5`
4.  `1 + 100`

**문제 2** [5점]

아래 코드가 실행되었다고 하자.

```
a = [1, 2]
b = [3, 4]
c = [1, 2, b, "A", a]
```

다음 표현식의 결과는 무었인지 선택하시오. 

```
c[2]
```

1. `2`
2. `[1, 2]`
3. `[3, 4]`
4. `'A'`

**문제 3** [5점]

다음 제시된 코드가 실행되었을 때 결과는 무었인지 선택하시오. 
 
```
a = [1,2,3,4,5]
a[1] + a[5]
```

1. 5
2. 6
3. 7
4. 오류

## 2. 문자열

**문제 1** [5점]

다음의 파이썬 코드를 실행하였을 때 결과를 제시하시오. 만약 코드의 결과가 오류이면 ERROR로 쓰시오

```
a = "1234ABC"
a[1:5]
```

**문제 2** [5점]

다음과 같은 코드가 실행되었다고 하자.

```
i = '하'
j = '웃으셨다'
k = '아버지가'
l = '크게'
p = ' '
```

다음 표현식의 결과가 무었인지 선택하시오.

```
k + p + j + p + i*3 + p + l
```

1. `아버지가 웃으셨다 하하하 크게`
2. `아버지가 하하하 크게 웃으셨다`
3. `아버지가 크게 하하하 웃우셨다`
4.  오류

**문제 3** [5점]

문자열을 출력하면 다음과 같은 결과가 나타나도록 변수 x 에 적절한 문자열을 입력하는 파이썬 코드를 작성하시오.

```
그는 "사랑해" 라고 외쳤다 
```

## 3. 데이터프레임

다음은  데이터프레임을 만드는 코드이다.

```
df = pd.DataFrame(
    { 'name' : ['이철수', '김영희', '홍길동', 'John Smith', 'Mary Doe'],
      'sex'  : ['M', 'F', 'M', 'M', 'F'],
      'age'  : [ 23, 25, 21, 33, 45],
      'height' : [153.5, 175.3, 163.4, 180.0, 165.7]
    } )
```

위의 코드가 실행되었다고 가정하고 아래 문제 1 - 문제 4 번까지 답하시오.

**문제 1** [5점]

데이터프레임 `df` 에서 두 개의 열 `sex` 와 `height` 만 선택(슬라이싱)하여 변수 `df_1` 에 저장하는 코드을 제시하시오.

**문제 2** [10점]

데이터프레임 `df` 에서 **키가 170 이상인 남자** 만으로 구성된  자료를 선택하여 변수 `df_2` 에 저장하는 코드을 제시하시오.

**문제 3** [5점]

데이터프레임 `df` 를 **연령의 내림차순으로 정렬** 하는 코드를 제시하시오.

**문제 4** [10점]

데이터프레임 `df`에서 남여별로 키의 평균을 구하는 코드를 제시하시오.

## 4. 취업, 실업, 가구수 자료

경제활동인구조사는 국민의 경제활동(취업, 실업, 노동력 등) 특성을 조사함으로써 경제 분석과 인력자원의 개발정책 수립에 필요한 기초 자료를 제공하는 조사이다.

자료 화일 [employment.csv](https://uos-bigdata.github.io/lab_data/docs/assets/data_lab_depart/employment.csv") 에는 2011년에서 2020년까지 우리나라의 15세 이상인구, 경제활동인구와 취업에 대한 남여별  인원수가 천명 단위로 주어져 있다.

각 변수에 대한 설명은 다음과 같다. **인구수가 천명 단위인 것에 유의하자.**

- `year` : 연도
- `pop_15_m` : 남자 15세 이상인구(천명)
- `pop_15_f` : 여자 15세 이상인구(천명)
- `pop_eco_m` : 남자 경제활동인구(취업자+실업자)(천명)
- `pop_eco_f` : 여자 경제활동인구(취업자+실업자) (천명)
- `emp_m` : 남자 취업자 (천명)
- `emp_f` : 여자 취업자 (천명)

경제활동인구는 만 15세 이상 인구 중 취업자와 실업자를 말한다. 

아래 코드를 실행해서 [employment.csv](https://uos-bigdata.github.io/lab_data/docs/assets/data_lab_depart/employment.csv") 에 있는 자료를 데이터프레임 `employ` 에 저장하자.

In [19]:
url = "https://uos-bigdata.github.io/lab_data/docs/assets/data_lab_depart/employment.csv"
employ = pd.read_csv(url, encoding="CP949")

데이터프레임 `employ` 의 자료 구성은 다음과 같다.

In [20]:
employ

   year  pop15_m  pop15_f  popeco_m  popeco_f  emp_m  emp_f
0  2011    20269    21119     14869     10520  14333  10193
1  2012    20501    21356     15077     10704  14568  10387
2  2013    20728    21576     15245     10862  14745  10554
3  2014    20989    21806     15607     11229  15057  10840
4  2015    21222    22018     15728     11426  15156  11022
5  2016    21401    22205     15836     11583  15241  11168
6  2017    21573    22357     15975     11773  15368  11356
7  2018    21699    22484     16002     11893  15372  11450
8  2019    21886    22618     16090     12097  15463  11660
9  2020    22035    22750     16005     12007  15381  11523

**문제 1** [10점]

데이터프레임 `employ` 는 모든 인구가 남여로 나누어져 있다. 다음과 같이 남여를 합한 열들을 데이터프레임 `employ`에 새로 추가하는 코드를 제시하시오.

- `pop15` : 15세 이상 전체 인구(천명)
- `popeco` : 전체 경제활동인구(취업자+실업자)(천명)
- `emp` : 전체 취업자 (천명)

**문제 2** [10점]

고용율는 취업자가 전체 15세 이상인구에서 차지하는 비율을 말한다.

고용율(%) = (전체 취업자의 수 / 전체 15세 이상 인구수) * 100

**고용율** 을 계산하여 열이름 `employ_rate` 로 데이터프레임 `employ`에  추가하는 코드를 제시하시오.


---

다음 사용할 자료는 통계청 국가통계포털 에서 받은 인구총조사(등록센서스) 자료이다. 데이터는 시도별로 6년의 가구수를
 가구의 구성 인원별로 나누어 놓은 자료이다. 각 열에 대한 정보는 다음과 같다.

- `year` : 년도
- `region` : 시도 
- `p1` : 1인 가구의 수
- `p2` : 2인 가구의 수
- ..........
- `p6` : 6인 가구의 수
- `p7plus` : 7인 이상 가구의 수

이제 우리나라 가구수 자료를 다음과 같이 데이터프레임 `house`로 저장하자.

In [7]:
url2 = "https://uos-bigdata.github.io/lab_data/docs/assets/data_lab_depart/house_final.csv"
house = pd.read_csv(url2, encoding="utf-8")

In [8]:
house

     year   region       p1      p2      p3      p4      p5     p6  p7plus
0    2015    서울특별시  1115744  930467  817440  701945  169436  38547   10911
1    2015    부산광역시   361749  366048  296742  238031   56971  12928    3431
2    2015    대구광역시   239517  239824  208795  184258   44071   9582    2481
3    2015    인천광역시   243678  265079  245135  220538   55230  12253    3504
4    2015    광주광역시   163577  137662  115701  109612   32199   6647    1759
..    ...      ...      ...     ...     ...     ...     ...    ...     ...
97   2020     전라북도   255269  233334  134414   96907   27962   5920    1769
98   2020     전라남도   256633  251506  131372   87883   26561   5727    1836
99   2020     경상북도   388791  363061  202539  137092   32174   6388    1774
100  2020     경상남도   417737  399700  270061  205658   46516   8410    2073
101  2020  제주특별자치도    81855   74308   49903   38747   13719   3380    1156

[102 rows x 9 columns]

**문제 3** [15점]

데이터프레임 `house` 를 이용하여 연도별로 우리 나라 총가구를 구하고 연도(`year`)와 해당 연도의 총 가구수(`totsl_house`)로 구성된 2개의 열을 가진 새로운 데이터프레임 `house2`를 만드는 코드를 제시히시오.

새로 만드어야할 데이터프레임 `house2` 의 열과 자료은 다음과 같아야 한다.

```
    year	total_house
0	2015	19111030
1	2016	19367696
2	2017	19673875
3	2018	19979188
4	2019	20343188
5	2020	20926710
```

[힌트] 
- 먼저 데이터프레임 `house` 를 연도(`year`)로 그룹화하고 각 열의 년도별 합을 구한다. 이때 사용하는 파이썬 코드의 일부는 다음과 같다.

```
house2 = .....groupby( by= ..... ).sum()....
``` 

- 다음으로 1인 가구부터 7인 이상 가구의 열들을 모두 더해서 총 가구 수를 계산하고 새로운 열 `total_house` 를 추가한다. 이때 사용하는 파이썬 코드의 일부는 다음과 유사하다.

```
..... = house2.p1 + house2.p2 + ... + house2.p7plus
```

또는

```
....... = house2[ ["p1","p2",......,"p7plus"] ].sum(axis=1)
```

- 이제 두 개의 열 `year` 과 `total_house` 를 선택하여 다시 `house2` 에 저장한다.

**문제 4** [10점]


경제활동인구의 정보가 저장된  데이터프레임 `employ` 와 문제 3에서 먼든 데이터프레임 `house2` 을 연도(`year`)를 기준으로 결합(merge)한 새로운 데이터프레임 `combine` 을 만드는 코드를  제시하시오.